# Ignore VLT files
.vlt
.vlt-sync.log
.vlt-sync-config.properties

# Ignore Quickstart launches in the source tree
license.properties
crx-quickstart

# Ignore compilation results
target

# Ignore downloaded feature packs for Communities
aem61-fp*
aem62-fp*
cq-social-expert-identification-pkg*
cq-social-scorm-pkg*

# Ignore IDE and Operating System artifacts
.idea
.classpath
.metadata
.project
.settings
maven-eclipse.xml
*.iml
*.ipr
*.iws
.DS_Store
#*.jar
pom.xml.versionsBackup

cq5dam.*
generated

# Links
*.lnk
*.desktop

# User's additional properties
conf/build*.properties
# Configured demo machines
demos/*
# Logs
logs/*
# Some downloaded and added by user data
dist/acs/*
dist/apps/*
dist/apps-packages/**/*.zip
dist/assets/**/*.zip
dist/assets-packages/**/*.zip
dist/bin/aem*.jar
dist/bin/aem*-sp.zip
dist/bin/snapshot.jar
dist/downloads/*.zip
dist/forms/**/*.zip
dist/forms-demo/**/*.zip
dist/forms-packages/**/*.zip
dist/hotfixes/**/cq-*-hotfix-*.zip
dist/license/license-*.properties
dist/osgi/*
dist/sites/*
dist/sites-packages/*
dist/we-retail/*
